@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @apply flex min-h-screen flex-col overflow-y-auto bg-[#f3f4f6] dark:bg-[#1a1a1b];
}

main {
    @apply flex-1;
}

::-webkit-scrollbar {
    @apply w-3;
}

::-webkit-scrollbar-track {
    @apply bg-[#e0e0e0];
}

::-webkit-scrollbar-thumb {
    @apply rounded-[10px] border-[3px] border-solid border-[#e0e0e0] bg-[#888];
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-[#555];
}
